.buttonWrapper{
  display:  inline-block;
  width: 100%;
  text-align: center;
  margin: 16px;
  padding: 8px;
}


.buttonWrapper a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: none;
  border: 1px solid coral;
  border-radius: 8px;
  font-size: 18px;
  color: bisque;
  margin-top: 2em;
  padding: 1em 2em;
  
  transition-property: transform;
  transition-duration: 2s;
}

.buttonWrapper a:hover{
  color: coral;
  transform: rotateZ(360deg);
  /* transform: rotateY(360deg); */
}

.buttonWrapper a:active{
  color: red;
}

